.about-us-page{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #f7f5f5;
}
.conatinor-Aboutus{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f5f5f5;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}
.mission-section{

    padding:20px;
    height: 150px;
    width: 20%;
    background-color: #f4b5b5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

}
.team-section{
    padding:20px;
    height: 150px;
    width: 20%;
    background-color: #b2f9a2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

}
.contact-section{
    padding:20px;
    height: 150px;
    width: 20%;
    background-color: #8da3f2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

}
